mj-section
    mj-column
        mj-image(src="./images/panneauWiFi6.jpg" alt="")
        mj-text Un meilleur WiFi. Partout chez vous.
mj-section
    mj-column(width="33.333333%")
        mj-image(src="./images/vitesse.jpg" alt="")
        mj-text Performances de pointe
    mj-column(width="33.333333%")
        mj-image(src="./images/Securite.jpg" alt="")
        mj-text Cybersécurité avec Netgear ArmorTM
    mj-column(width="33.333333%")
        mj-image(src="./images/fibre.jpg" alt="")
        mj-text Connexion de tous vos appareils
    mj-column(width="33.333333%")
        mj-image(src="./images/batterie.jpg" alt="")
        mj-text Plus d'autonomie pour vos appareils
    mj-column(width="33.333333%")
        mj-image(src="./images/rj45.jpg" alt="")
        mj-text Vitesses Gigabit là où vous en avez besoin
    mj-column(width="33.333333%")
        mj-image(src="./images/partageConnexion.jpg" alt="")
        mj-text Installation facile
