mj-section(padding="0" mj-class="bg0")
    mj-column
        mj-image(padding="0" align="center" width="700px" src="./images/connexionSansFil.jpg" alt="")/
mj-section(padding="0px")
    mj-column(width="100%" mj-class="bgW")
        mj-spacer(height="20px")
    mj-column(width="100%" padding="15px" padding-bottom="25px" mj-class="bg0")
        mj-text(padding="0" align="center" mj-class="T30-500 cTW bg1") ... et bien plus encore sur le store #[span(style="text-transform:uppercase;") Netgear]
        mj-spacer(height="40px")/
        mj-button( mj-class="bgW cT0") découvrir
