mj-section
    mj-column(width="100%")
        mj-text Découvrez notre sélection Orbi WiFi 6
        mj-image(src="./images/ambianceOrbi.jpg" alt="")
    mj-column(width="100%")
        mj-text Systèmes Mesh Orbi WiFi 6
        mj-text Ne ratez pas ces offres très spéciales sur notre sélection de Systèmes Mesh Orbi WiFi 6 Tri band
        mj-text La technologie Tri band vous permet de télécharger, streamer, jouer et bien plus encore sur des vitesses WiFi ultra-rapides partout chez vous et pour tous vos appareils connectés.