mj-section
    mj-column
        mj-text Orbi AX6000 : le meilleur WiFi 
mj-section
    mj-column(width="50%")
        mj-image(src="./images/2orbi10.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK852) jusqu'à 460m²
        mj-text 799,99€ 789,99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(src="./images/3orbi30.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK853) jusqu'à 690m²
        mj-text 1099,99€ 1069,99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(src="./images/4orbi80.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK854) jusqu'à 960m²
        mj-text 1549,99€ 1469,99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(src="./images/5orbi170.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK855) jusqu'à 1150m²
        mj-text 1999,99€ 1829,99€
        mj-button J'en profite
