mj-section
    mj-column(width="100%")
        mj-text Orbi AX4200 : Rapide & puissant
mj-section
    mj-column(width="50%")
        mj-image(src="./images/2orbi100.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK752) Jusqu'à 350m²
        mj-text 499,99€ 399,99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(src="./images/3orbi150.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK753) Jusqu'à 525m²
        mj-text 699,99€ 559,99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(src="./images/4orbi240.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK754) Jusqu'à 700m²
        mj-text 979,99€ 739,99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(src="./images/5orbi340.jpg" alt="")
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK755) Jusqu'à 875m²
        mj-text 1259,99€ 919,99€
        mj-button J'en profite